Django==6.0.6
djangorestframework==3.17.1
django-cors-headers==4.9.0
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.2
python-dotenv==1.2.2
psycopg2-binary==2.9.12
openrouteservice==2.3.3
whitenoise==6.12.0
cloudinary==1.44.2
django-cloudinary-storage==0.3.0
python-docx==1.1.2
